---
import { Image } from "@astrojs/image/components";

interface Props {
  title: string;
  src: string;
  className?: string;
}

const { title, className, src } = Astro.props;
---

<div class="card">
  <div class="card__heading" style={`background-image: url(${src})`}>
    <!-- {
      format !== "svg" && (
        <Image
          src={src}
          width={500}
          height={200}
          format={format}
          aspectRatio={2.0}
          alt={title}
        />
      )
    } -->
  </div>
  <div class={`card__body ${className ? className : ""}`}>
    <h3>{title}</h3>

    <p>
      <slot />
    </p>
  </div>
</div>

<style>
  .card {
    background-color: transparent;
    max-width: 400px;
    min-width: var(--card-min-width);
    grid-auto-flow: column;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .card__heading {
    border-radius: var(--border-radius-lg);
    border: 2px solid var(--cyan);
    overflow: hidden;
    margin-bottom: 0.5rem;
    background-color: var(--green-tint);
    max-width: 500px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 90%;
    transition: var(--transition);
  }

  .card__heading:hover {
    box-shadow: 1px 1px 2px 3px var(--light-navy);
  }

  .card__body h3 {
    padding: 0;
    margin: 0;
  }

  .card__body {
    background-color: var(--light-navy);
    padding: 1rem;
    flex: 1;
  }

  .card__body.no-body {
    flex: 0;
    background-color: transparent;
    text-align: left;
    padding: 0;
    padding-top: 0.5rem;
    color: var(--green);
  }
</style>
